@import 'variables.css';

body{
  margin: 0px;
  padding-top: 20px;
  min-height: 100vh;
  padding-bottom: 0px;
  display: flex;
  background-color: var(--listify-grey);
}

main{
  width: 100%;
}

.main-page{
  width: 100%;
  background-color: var(--listify-grey);
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 50px;

}

.vision, .personal-info {
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 100px;
  margin-left: 100px;
}

p {
  font-family: var(--main-font);
  font-size: calc(20px + 1.5vw);
  color: white;
  line-height: 1.5;
  margin-bottom: 1px;
}

.visionp, .aboutp {
  font-size: calc(12px + 1vw);
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  line-height: 1.5;
  margin-bottom: 1px;
}