@import url(https://db.onlinewebfonts.com/c/d126de4a8e38b7c0bc498bd2d2e1c0c7?family=Retrochips);

body{
  margin: 0px;
  padding-top: 80px;
  min-height: 100vh;
  padding-bottom: 0px;
  display: flex;
  background-color: rgb(46, 45, 45);
}

main{
  width: 100%;
}

.main-page{
  width: 100%;
  background-color: rgb(46, 45, 45);
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;

}

.vision, .personal-info {
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 100px;
  margin-left: 100px;
}

p {
  font-family: 'Retrochips';
  font-size: 80px;
  color: white;
}

.visionp, .aboutp {
  font-size: 20px;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
}