@import 'variables.css';

body, .main-page {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin: 0;
  padding: 0 0 20px 0;
  background-color: var(--listify-grey);
  width: 100%;
  height: 100vh;
  box-sizing: border-box;
}

main{
  width: 100%;
}

.main-page {
  overflow: auto;
}

.generated {
  font-family: var(--main-font);
  font-size: 40px;
  color: white;
}

.back{
  width: 100%;
  background-color: var(--listify-grey);
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 10px;
}

.playlist-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
}