@font-face {
  font-family: 'MyFont';
  src: url('VTCSuperMarketSaleItalic.ttf') format('truetype');
}

body{
  margin: 0px;
  padding-top: 80px;
  min-height: 100vh;
  padding-bottom: 0px;
  display: flex;
  background-color: rgb(46, 45, 45);
  overflow: hidden;
}

main{
  width: 100%;
}

.main-page{
  width: 100%;
  background-color: rgb(46, 45, 45);
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;

}

p {
  font-family: 'MyFont';
  font-size: 50px;
  padding-top: 10px;
  color: white;
}
