@import 'variables.css';

body{
  margin: 0px;
  padding-top: 80px;
  min-height: 100vh;
  padding-bottom: 0px;
  display: flex;
  background-color: var(--listify-grey);
  overflow: hidden;
}

main{
  width: 100%;
}

.main-page{
  width: 100%;
  background-color: var(--listify-grey);
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;

}

p {
  font-family: var(--main-font);
  font-size: 50px;
  padding-top: 10px;
  color: white;
}
