body {
  margin: 0px;
  padding-top: 80px;
  width: 100%;
  min-height: 100vh;
  display: flex;
  background-color: rgb(46, 45, 45);
  overflow: hidden;
}

main {
  width: 100%;
  height: 100%;
}

.main-page {
  width: 90%; /* Adjust as needed */
  max-width: 1200px; /* Limit the maximum width */
  margin: 0 auto; /* Center horizontally */
  background-color: rgb(46, 45, 45);
  display: grid;
  grid-template-columns: 4fr 3fr;
}

p {
  font-family: 'Chakra Petch';
  font-size: 5vw; /* Responsive font size */
  color: white;
}