<!DOCTYPE html>
<html>

<head>
  <title>Listify - Playlist Generated</title>
  <link rel="stylesheet" href="static/header.css">
  <link rel="stylesheet" href="static/about-body.css">
  
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="shortcut icon" type="image/x-icon" href="/static/favicon.ico" />
</head>

<body>

  <header class="header">
    <div class="l-header">
      <a href="/" style="text-decoration: none;">
        <div class="title">Listify</div>
      </a>
    </div>
    <div class="r-header">
      <div class="about-div">
        <a href="/about">
          <button class="about-button">About</button>
        </a>
      </div>
      <div class="p-div">
        <a href="/privacy-policy">
          <button class="p-button">Privacy Policy</button>
        </a>
      </div>
    </div>
  </header>

  <main>
    <div class="main-page">
      <div class="generated">
        <p>Playlist Generated!</p>
      </div>
      
      <!-- Embedded Spotify playlist -->
      <iframe style="border-radius: 25px" width="50%" height="400" 
      title="{{ playlist_title }}" frameborder="0" allowfullscreen allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy" 
      src="{{ playlist_url }}"></iframe>
      
      <div class="back">
        <a href="/" class="p-div">
          <button class="p-button">Back</button>
        </a>
      </div>
    </div>
  </main>

</body>

</html>
