<!DOCTYPE html>
<html>

<head>
  <title>Listify - Customize and Generate</title>
    <link rel = "stylesheet" href = "static/header.css">
    <link rel = "stylesheet" href = "static/customize-body.css">
    

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Protest+Riot&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dosis:wght@700&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@700&display=swap" rel="stylesheet">

    <meta name="viewport" content="width=device-width, initial-scale=1">


</head>

<body>
  <header class="header">
    <div class="l-header">

      <a href = "/" style = "text-decoration: none;"><div class = "title">Listify</div></a>
    </div>
    <div class="r-header">


      <div class = "about-div">
        <a href = "/about"><button class = "about-button">About</button></a>
      </div>


      <div class = "p-div">
        <a href = "/privacy-policy"><button class = "p-button">Privacy Policy</button></a>      </div>

    </div>
  </header>

  <main>
    <a href = "/generate_playlist"; = "/login"><button id = "toggleButton" class = "t-button" onclick = toggleButton() >Generate Track Playlist</button></a>

    <button class = "a-button" >Generate Artist Playlist</button>
  </main>

  <script>
    var buttonState = false; // Initially, button is in off state
    
    function toggleButton() {
      var button = document.getElementById('toggleButton');
      if (buttonState) {
        buttonState = false;
        button.classList.remove('active');
        button.classList.add('inactive');
      } else {
        buttonState = true;
        button.classList.remove('inactive');
        button.classList.add('active');
      }
    }
    </script>

</body>

</html>