<!DOCTYPE html>
<html>
    <head>
        <title>Listify - Error</title>
        <link rel = "stylesheet" href = "static/header.css">
        <link rel = "stylesheet" href = "static/main-body.css">
        <link rel = "stylesheet" type="text/css" href="static/error.css">
        
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="shortcut icon" type="image/x-icon" href="/static/favicon.ico" />
    </head>
    <body>
        <header class="header">
            <div class="l-header">
                <a href = "/" style = "text-decoration: none;"><div class = "title">Listify</div></a>
            </div>
            <div class="r-header">
                <div class = "about-div">
                    <a href = "/about"><button class = "about-button">About</button></a>
                </div>
                <div class = "p-div">
                    <a href = "/privacy-policy"><button class = "p-button">Privacy Policy</button></a>        
                </div>
            </div>
        </header>
        <main>
            <div class = "main-flex">
                <div class = "main-page">
                    <div class = "div-disc">
                        <div class="logo">
                            <img class="responsive-image" src="static/recordlogo.png" alt="Logo">          
                        </div>
                    </div>
                    <div class = "text-login">
                        <div class = "intro-text">Oops! Something went wrong.</div>
                        <div class = "login-buttons">
                            <a href = "/"><button class = "spotify-button">Return to Home</button></a>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </body>
</html>