<!DOCTYPE html>
<html>
  <head>
    <title>Listify - Customize Your Playlists</title>
    <link rel = "stylesheet" href = "static/header.css">
    <link rel = "stylesheet" href = "static/main-body.css">
    
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="shortcut icon" type="image/x-icon" href="/static/favicon.ico" />

  </head>

  <body>

    <header class="header">
      <div class="l-header">

        <a href = "/" style = "text-decoration: none;"><div class = "title">Listify</div></a>
      </div>
      <div class="r-header">

        <!--<div class = "home-div">
          <button class = "home-button">Home</button>
        </div> -->

        <div class = "about-div">
          <a href = "/about"><button class = "about-button">About</button></a>
        </div>

        <!--<div class = "contact-div">
          <button class = "contact-button">Contact</button>
        </div>-->

        <div class = "p-div">
          <a href = "/privacy-policy"><button class = "p-button">Privacy Policy</button></a>        </div>

      </div>
    </header>

    <main>
      <div class = "main-flex">
      <div class = "main-page">
        <div class = "div-disc">
          <div class="logo">
            <img src="static/recordlogo.png" alt="Logo">
          </div>
        </div>

        <div class = "text-login">

          <div class = "intro-text">Customize Your Playlists With Listify!</div>

          <div class = "login-buttons">
            <a href = "/customize"><button class = "spotify-button">Continue With Spotify</button></a>

            <a href = "https://www.youtube.com/watch?v=dQw4w9WgXcQ" target = "_blank"><button class = "apple-button">Continue With <br> Apple Music</button></a>
          </div>

        </div>

      </div>
    </div>

    </main>

  </body>
</html>
