<!DOCTYPE html>
<html>

  <head>
    <title>Listify - Privacy Policy</title>
    <link rel = "stylesheet" href = "static/header.css">
    <link rel = "stylesheet" href = "static/privacy-body.css"

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Protest+Riot&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dosis:wght@700&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@700&display=swap" rel="stylesheet">

  </head>

  <body>

    <header class="header">
      <div class="l-header">

        <a href = "/" style = "text-decoration: none;"><div class = "title">Listify</div></a>
      </div>
      <div class="r-header">

        <!--<div class = "home-div">
          <button class = "home-button">Home</button>
        </div> -->

        <div class = "about-div">
          <a href = "/about"><button class = "about-button">About</button></a>
        </div>

        <!--<div class = "contact-div">
          <button class = "contact-button">Contact</button>
        </div>-->

        <div class = "p-div">
          <a href = "/privacy-policy"><button class = "p-button">Privacy Policy</button></a>
        </div>

      </div>
    </header>

    <main>
      <div class = "main-page">
        <div class = "Policy">
          <p class = "p-p">Privacy Policy</p>
          <p class = "privacy-info">Listify was developed as an open source app powered by the Spotify Web API. By choosing to use this app, you agree to the use of your Spotify account username and data for your top artists and tracks. None of the data used by Listify is stored or collected anywhere, and it is NOT shared with any third parties. All information is used solely for creating your playlists. Although you can rest assured that your data is not being stored or used maliciously, if you would like to revoke Listify's permissions, you can visit your apps page and click "REMOVE ACCESS" on Listify.</p>
        </div>

        </div>

        

      </div>
    </div>

    </main>


  </body>

  </html>
